/* Style umum */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../Background/bcgrnd.jpeg'); /* Ganti dengan nama gambar Anda */
    background-size: cover; /* Memastikan gambar menutupi seluruh area */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
    color: rgb(255, 255, 255);
}

h1 {
    /* color: #333; */
    text-align: center;
}

form {
    margin-bottom: 20px;
    background-color: #00000078;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="number"], textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}

a.btn:hover {
    background-color: #0056b3;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgb(1, 1, 1);
}

table, th, td {
    border: 1px solid #201d1d;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: 20px 0;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
